{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "full_gallery/css/full_gallery.css" %}" />
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
{% endblock %}
{% endif %}
{% block content %}<div id="content-main">
<form method="post" action="{{confirm_url}}">{% csrf_token %}
<div class="preview_after_upload_container">
{% for image in created_files %}
<div class="preview_after_upload">
	<img src="{{image.image_thumb_200x200}}" />
	<span>{% trans 'Title' %}</span>
	<input type="text" value="" name="{{image.pk}}" maxlength="50">
	<span>{% trans 'Description' %}</span>
	<textarea type="text" value="" name="{{image.pk}}" maxlength="50"></textarea>
</div>
{% endfor %}
</div>
<input type="submit" name="submit" value="Guardar" class="default" />
</form>
</div>
{% endblock %}
